<title>{{ title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='css/font.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='css/post_card.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='css/series.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='css/series_card.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='css/icon.css') }}">

<!-- Theme-aware syntax highlighting -->
<link rel="stylesheet" href="{{ url_for('static', path='css/vscode-light.css') }}" id="syntax-light">
<link rel="stylesheet" href="{{ url_for('static', path='css/vscode-dark.css') }}" id="syntax-dark">
