<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{ title }}</title>
<link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='css/font.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='css/post_card.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='css/series.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='css/series_card.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='css/icon.css') }}">
